@font-face {
  font-family: 'Sarabun';
  src: url('Sarabun-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('Sarabun-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sarabun';
  src: url('Sarabun-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}