/*
    SCROLLBAR
*/

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color); /* Color of the scrollbar thumb */
    border-radius: 6px; /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-color); /* Color of the thumb when hovering */
}

/* For Firefox */
.scrollable {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: var(--primary-color) #f1f1f1; /* Color of the thumb and track */
}
