/*
    HERO SECTION
*/

@keyframes float-element-hero {
    0%, 100% { transform: translateY(0px); }
    50% { transform: translateY(-20px); }
}

@keyframes fadeInUp-hero {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*
    FEATURES SECTION
*/

@keyframes float-features {
    0%, 100% { transform: translate(0, 0) scale(1); }
    50% { transform: translate(30px, 30px) scale(1.1); }
}

@keyframes scaleIn-features {
    from {
      opacity: 0;
      transform: scale(0.8);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
}

/*
    PRICING SECTION
*/

@keyframes pulse-pricing {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

/*
    ABOUT US SECTION
*/

@keyframes fadeIn-about-us {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn-about-us {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*
    CONTACT US
*/

@keyframes slideIn-contact-us {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

/*
    GENERALS
*/

@keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}